.projectConatiner {
  padding: 1em 0.5em;
  line-height: 35px;
}

.headingContainter {
  padding: 3em 0;
}
.projectHeading {
  display: flex;
  line-height: 100%;
  align-items: center;
  margin: 0 auto;
  width: fit-content;
  font-family: "Bigilla";
  border-bottom: 5px solid #fff;
  font-size: clamp(4.7rem, calc(7rem + -1.35vw), 3.3rem);
}

.projectGif {
  margin: 10px auto;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 80%;
  min-width: 300px;
  max-width: 600px;
  object-fit: cover;
}

.button {
  display: flex;
  justify-content: space-evenly;
  margin: 2em 0 4em 0;
}

.projectButton {
  cursor: pointer;
  padding: 8px;
  color: black;
  background-color: #f2f3f4;
  font-weight: 700;
  font-size: 1em;
  border-radius: 10px;
  transition: 0.3s;
}

.projectButton:hover {
  color: #f2f3f4;
  background-color: #0a0a0a;
  border-radius: 1px solid #f2f3f4;
  /* transition: ease-in-out; */
  transform: translateY(-0.25em);
}

.projectSpan {
  font-size: 1.3em;
  padding-bottom: 5px;
  border-bottom: 3px solid #fff;
}

.projectPad {
  padding: 1em 0;
  list-style: none;
  font-size: 1em;
}
.projectPad li::before {
  content: "\2022";
  color: #fff;
  font-weight: bold;
  display: inline-block;
  width: 1em;
}
@media screen and (max-width: 383px) {
  .projectSpan {
    font-size: 1.1em;
  }
  .projectButton {
    font-size: 1em;
  }
}
